{{!-- <body>
        <h1 title="Đây là tiêu đề" ; id="heading">ĐỘNG REVIEW PHIM</h1>
        <h2 class="tenphim">Nobita và cuộc phiêu lưu đến đảo giấu vàng</h2>
        <img src="https://i.pinimg.com/564x/6f/63/ad/6f63adb6e5e70c7656139d8ab2166a44.jpg"
            alt="Nobita và cuộc phiêu lưu đến đảo giấu vàng" width="25%" />
        <p>“Mình sẽ tìm ra Đảo kho báu!”… Quyết tâm thực hiện kế hoạch sau khi hùng hồn tuyên bố với nhóm bạn Jaian,
            Suneo
            và Shizuka nhờ có kho báu "Bản đồ kho báu" của Doraemon, Nobita đã tìm được một hòn đảo mới bất ngờ xuất
            hiện
            giữa Thái Bình Dương ... Nobita và các bạn bắt đầu cuộc phiêu lưu của mình, hướng đến hòn đảo kho báu trên
            con
            tàu mang tên "Halo Nobita".</p>
        <p>Tuy nhiên, trước khi hạ cánh, nhóm đã bị tấn công bởi những tên cướp biển! Trong khi chiến đấu chống lại kẻ
            thù,
            Shizuka đã bị bọn cướp biển bắt cóc lên tàu của chúng!</p>
        <p>Sau khi trốn thoát khỏi bọn cướp biển, các bạn của Nobita tình cờ gặp một cậu bé tên là Flock đang trôi dạt
            trên
            biển cùng với một con vẹt robot tên là Quiz. Flock là một người thợ máy vừa thoát khỏi một con tàu cướp
            biển,
            anh ta biết được bí mật quan trọng của hòn đảo kho báu!</p>
        <p>Liệu Nobita và những người bạn có thể giải cứu Shizuka khỏi những tên cướp biển độc ác và khám phá ra bí mật
            được cất giấu trên hòn đảo kho báu đang ngủ quên không !?</p>
        <div class="box2">
            <a class="tenphim" ; href="https://www.youtube.com/watch?v=5o9nCd67o6U">Trailer</a>
        </div>

        <ul>
            <p>Thông tin phim</p>
            <li>Năm sản xuất:2017</li>
            <li>Quốc gia: Nhật Bản</li>
        </ul>
        <table width="80%" ; class="text">
            <theader>
                <th>STT</th>
                <th>Nhân vật</th>
                <th>Tên</th>
            </theader>
            <tbody>
                <tr>
                    <td>1</td>
                    <td width="50%"><img src="https://i.pinimg.com/564x/5a/7c/a4/5a7ca4c1f6397d1d4bae2d070dab60c2.jpg"
                            width="25%" /></td>
                    <td>Doramon</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td width="50%"><img src="https://i.pinimg.com/564x/ce/be/2e/cebe2ed16d907ceeb16e3f563e680441.jpg"
                            width="25%" /></td>
                    <td>Nobita</td>
                </tr>
            </tbody>
        </table>
    </body> --}}

<div class="mt4">
     <h2 class="tenphim ">{{film.name}}</h2>
    <div class="row">
       
        <p></p>
        <div class="col-lg-3">
            <img src="{{film.image}}" alt="{{film.name}}">
        </div>
        <div class="col-lg-9">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/{{film.trailerid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{film.description}}</p>
            <button class="button"> Đăng bài review </button>

        </div>
    </div>
</div> 